*{
    margin: 0;
    --primary-s:1.5rem;
    --second-s:1.3rem;
    --therd-s:0.9rem;
    --forth-s:0.8rem;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr repeat(7, 1fr);
}
.sidebar{
    background-color: #0284c7;
    color: #fafafa;
    grid-row: 1/9;
    font-size: var(--second-s);
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
}

svg{
    height: 30px;
    width: 30px;
    fill: #fafafa;
}
.bigger > svg{
    height: 40px;
    width: 40px;
    padding: 10px;

}
ul , li{
    list-style-type: none;
    padding: 10px;
}
.sidebar-item , .sidebar-item > ul >li{
    display: flex;
    align-items: center;
    gap: 10px;
}
a{
    text-decoration: none;
    color: #fafafa;
}
.bigger{
    font-size: var(--primary-s);
}
.header{
    background-color: #fffbeb80;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 4fr 2fr;
    z-index: 1;
    box-shadow: 5px 5px 5px #aaaaaa;
}
.search_bar{
    display: flex;
    padding-left: 20px;
    gap: 20px;
    align-items: center;
}
.search_bar > input{
    flex-grow: 1;
    border-radius: 15px;
    border: none;
    height: 40px;
    background-color: #d1d5db;
}
.notifiction{
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    gap: 30px;
    justify-content: center;
}
.header > div  svg {
    fill: black;
}
.notifiction > p{
    font-size: var(--second-s);
}
.user-info{
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}
.greeting{
    font-size: var(--therd-s);
}
.user-name{
    font-size: var(--primary-s);
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
.buttons button{
    background-color: #0284c7;
    color: white;
    border: none;
    font-size: var(--therd-s);
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
img{
    border-radius: 50%;
}
.main-content{
    background-color: #e5e7eb;
    grid-column: 2/3;
    grid-row: 2/9;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.main-content .left{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 50px repeat(3 , 1fr) auto;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.card{
    background-color: white;
    color: black;
    border-radius: 15px;
    border-left: 15px solid #273b7a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.left > p{
    font-size: var(--second-s);
    grid-column: 1/3;
    align-self: end;
}

.card > p{
    font-size: var(--therd-s);
}
.card > .text{
    color: #71717a;
    font-size: var(--forth-s);
}
.card > :nth-child(3){
    margin-left: auto;
    margin-top: auto;
}
.icones > svg{
    fill: #6b7280;
}
.main-content .rigth{

    display: grid;
    grid-template-rows: 40px 1fr 40px 1fr;
    padding-top: 20px;
    padding-right: 15px;
    margin-bottom: 30px;
}
.annoncements{
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.rigth > :nth-child(1),
.rigth > :nth-child(3){
    align-self: end;
}
.second-text{
    font-size: var(--second-s);
}
.rigth div{
    background-color: #fafafa;
    border-radius: 20px;

}
.forth-text{
    color: #71717a;
    font-size: var(--forth-s);
}
.user{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}